#messages {
    border-radius: 10px;
    background-color: bisque;
    border: 2px dotted darkgoldenrod;
}

h1 {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

table, td {
    border: 1px solid black;
}

td {
    text-align: center;
    font-size: xx-large;
}

fieldset {
    display: grid;
    grid-template-columns: 1;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 15px;
}

fieldset legend {
    color: grey;
}

fieldset label {
    margin: 2%;
    display: grid;
    grid-template-columns: 1;
}

fieldset button {
    background-color: crimson;
    color: aliceblue;
    padding: 1%;
    margin: 2%;
    border-radius: 5px;
}

fieldset p {
    text-align: center;
    color: grey;
}

.blanca {
    background-color: lightblue;
}

.blancas {
    color: black;
}

.negra {
    background-color: lightcoral;
}

.negras {
    color: black;
}

.blancas:hover {
    background-color: blue;
    cursor: pointer;
}

.negras:hover {
    background-color: red;
    cursor: pointer;
}

.oportunidad {
    background-color: green;
}

.oportunidad:hover {
    cursor: pointer;
}

.recargar {
    font-size: xx-large;
}

.recargar:hover {
    cursor: pointer;
}