<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
        <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', path='queso.ico') }}" type="image/x-icon">
        <script src="{{ url_for('static', path='index_jugar.js') }}" defer></script>
    </head>
    <body>
        <h1>Juego de ajedrez</h1>
        <div class="invitaciones">
            <a href="/">
                <span class="flecha">⬅</span>
            </a>
            <details>
                <summary>Invitar a un amigo a jugar (por correo)</summary>
                <form action="/invitar/{{ creada['id'] }}" method="post">
                    <fieldset>
                        <legend>Mandar invitación a la partida</legend>
                        <label for="correo">
                            <span>Correo electrónico: </span>
                            <input type="email" name="correo" id="correo" required>
                            <button type="submit">Mandar correo</button>
                        </label>
                    </fieldset>
                </form>
            </details>
        </div>
        <input type="hidden" name="real" id="real" value="{{ creada['id'] }}">
        <input type="hidden" name="actualidad" id="actualidad" value="{{ creada['completo'] }}">
        <input type="hidden" name="poder" id="poder" value="{{ creada['turno'] }}">
        <h2>Tu ID: <span id="ws-id"></span></h2>
        <p id="comidas_blancas" class="comidas">
            {% for esto in creada['comidas'] %}
            {% if esto == '♟' or esto == '♛' or esto == '♚' or esto == '♜' or esto == '♞' or esto == '♝' %} 
            {{ esto }}
            {% endif %}
            {% endfor %}
        </p>
        <main>
            <table id="tablero">
                {% for i in range(creada['tablero'].__len__()) %}
                <tr>
                    {% for j in range(creada['tablero'][i].__len__()) %}
                    {% if creada['tablero'][i][j] == '' %}
                    <td id="{{ i + 1 }}-{{ j + 1 }}">+</td>
                    {% else %}
                    <td id="{{ i + 1 }}-{{ j + 1 }}">{{ creada['tablero'][i][j] }}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            <div>
                <div>
                    <ul id='messages'>
                        {% for esto in creada['mensajes'] %}
                        <li>{{ esto }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <form action="" onsubmit="sendMessage(event)">
                    <input type="text" id="messageText" autocomplete="off"/>
                    <button>Send</button>
                </form>
            </div>
        </main>
        <p id="comidas_negras" class="comidas">
            {% for esto in creada['comidas'] %}
            {% if esto == '♙' or esto == '♕' or esto == '♔' or esto == '♖' or esto == '♘' or esto == '♗' %} 
            {{ esto }}
            {% endif %}
            {% endfor %}
        </p>
    </body>
</html>